<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API DOC</title>
</head>
<body>
    <h1>Welcome to the api doc</h1>
    <h2>Endpoints</h2>
    <p>
        GET IMAGE DATA
    </p>
<p>
    https://agricma-backend.onrender.com/api/imgdata/id
</p>

<p>
    GET AN IMAGE
</p>
<p>
https://agricma-backend.onrender.com/api/img/id
</p>

<h3>Structure of request header</h3>
<p>
    header = {
        'Bearer': 'bear key word',
        'Authorization': 'api_key',
    }
    
</p>

</body>
</html>